<html>
  <head> </head>
  <body>
    <div class="mainDiv">
      <!-- ^ column flex -->
      <nav class="nav">
        <div>
          <div>hangOut</div>
         <% if (loggedIn){ %>
            <form action="/logout" method="POST"><button>log out</button></forum>
         <% } else { %>
            <a href="/login-signup">Login / Sign up</a>
         <%  } %>
        </div>
      </nav>
      <div class="mainBody">
            <% if (loggedIn && isMember) { %>
              <div>
                <div>
                  <a>+ new message!</a>
                </div>
              </div>
                <div class="isMemberGrids">
                    <% msgs.forEach(message => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" styles="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="bodyText"><% msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p><%= msg.fName %></p>
                                <p>@<%= msg.username %> </p>
                            </div>
                            <div><%= msg.posted %></div>
                        </div>
                    <% }) %>
                </div>
            <% } else if (loggedIn && !isMember) { %>
                <div class="nonMemberGrids">
                    <div>
                      <div>curious about who posted what and when?</div>
                      <a>become a member!</a>
                    </div>
                     <% msgs.forEach(message => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" styles="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="bodyText"><% msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p>anon</p>
                                <p>login / sign up to view</p>
                            </div>
                        </div>
                    <% }) %>

                </div>
            <% } else { %>
              <div class="nonMemberGrids">
                     <% msgs.forEach(message => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" styles="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="bodyText"><% msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p>anon</p>
                                <p>login / sign up to view</p>
                            </div>
                        </div>
                    <% }) %>

                </div>
            <% } %>
      </div>
      <div class="footer">
        <div class="footer"></div>
      </div>
    </div>
  </body>
</html>
