<html>
  <head> 
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <div class="mainDiv">
      <!-- ^ column flex -->
      <nav class="nav">
        <div class="titleDivider">
          <p class="digitalCafe">digital</p>
        </div>
         <% if (loggedIn && isMember){ %>
          <div class="underTitle">
            <div>hi, <%= user.fname %> &#58;&#41;</div>
            <form class="btn" action="/logout" method="POST"><button>log out</button></form>
          </div>
          <div class="newMsg">
            <a href="/newMessage">+ new message</a>
          </div>
         <% } else if (loggedIn && !isMember) { %>
            <div class="underTitle">
              <div>hi, <%= user.fname %> &#58;&#41;</div>
              <form action="/logout" method="POST"><button class="btn">log out</button></form>
            </div>
            <div class="becomeMemberBlurb">
              <div>curious about who posted what and when?</div>
              <a href="/membership">&#9734; become a member! &#9734;</a>
            </div>
            <div class="newMsg">
              <a href="/newMessage">+ new message</a>
            </div>
         <%  }  else { %>
          <div class="underTitle">
            <div class="welc">welcome</div>
            <div class="login-signUp"><a href="/login-signup">Login / Sign up</a></div>
          </div>
         <% } %>
        <div>
      </nav>
      <div class="mainBody">
            <% if (loggedIn && isMember) { %>
                <div class="grids">
                    <% msgs.forEach(msg => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" style="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="dotDivider"></div>
                                <div class="bodyText"><%= msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p><%= msg.fname %></p>
                                <p>@<%= msg.username %> </p>
                            </div>
                            <div><%= msg.postedDate %></div>
                        </div>
                    <% }) %>
                </div>
            <% } else if (loggedIn && !isMember) { %>
                <div class="frids">
                     <% msgs.forEach(msg => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" style="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                 <div class="dotDivider"></div>
                                <div class="bodyText"><%= msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                           <div class="anon">
                                <p class="anonText">Anon</p>
                                <p>become a member to see who posted this</p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } else if (!loggedIn && !isMember) { %>
              <div class="grids">
                     <% msgs.forEach(msg => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" style="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                 <div class="dotDivider"></div>
                                <div class="bodyText"><%= msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div class="anon">
                                <p class="anonText">Anon</p>
                                <p>become a member to see who posted this</p>
                            </div>
                        </div>
                    <% }) %>

                </div>
            <% } %>
      </div>
      <div class="footer">
        <div class="footer"></div>
      </div>
    </div>
  </body>
</html>
