<html>
  <head> </head>
  <body>
    <div class="mainDiv">
      <!-- ^ column flex -->
      <nav class="nav">
        <div class="titleDivider">
          <div>hangout</div>
          <p>blurb</p>
        </div>
        <div>
         <% if (loggedIn && isMember){ %>
          <div>
            <div>hi, <%= user.fName %> </div>
            <form action="/logout" method="POST"><button>log out</button></forum>
          </div>
          <div>
            <a href="/new-message">add a message</a>
          </div>
         <% } else if (loggedIn && !isMember) { %>
            <div>
              <div>hi, <%= user.fName %> </div>
              <div><a href="/membership">become a member</a></div>
              <form action="/logout" method="POST"><button>log out</button></forum>
            </div>
         <%  }  else { %>
          <div>
            <div>welcome</div>
            <a href="/login-signup">Login / Sign up</a>
          </div>
         <% } %>
        <div>
      </nav>
      <div class="mainBody">
            <% if (loggedIn && isMember) { %>
                <div class="isMemberGrids">
                    <% msgs.forEach(msg => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" style="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="bodyText"><%= msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p><%= msg.fName %></p>
                                <p>@<%= msg.username %> </p>
                            </div>
                            <div><%= msg.posted %></div>
                        </div>
                    <% }) %>
                </div>
            <% } else if (loggedIn && !isMember) { %>
                <div class="nonMemberGrids">
                    <div>
                      <div>curious about who posted what and when?</div>
                      <a>become a member!</a>
                    </div>
                    <div>
                      <div>
                        <a>+ new message!</a>
                      </div>
                    </div>
                     <% msgs.forEach(msg => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" style="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="bodyText"><%= msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p>anon</p>
                                <p>login / sign up to view</p>
                            </div>
                        </div>
                    <% }) %>

                </div>
            <% } else { %>
              <div class="nonMemberGrids">
                     <% msgs.forEach(msg => { %>
                        <div class="individualMsgs" >
                            <div class="backgroundColor" style="background: <%= msg.color %>">
                                <div class="title"><%= msg.title %></div>
                                <div class="bodyText"><%= msg.body %> </div>
                            </div>
                            <div class="divider"></div>
                            <div>
                                <p>anon</p>
                                <p>login / sign up to view</p>
                            </div>
                        </div>
                    <% }) %>

                </div>
            <% } %>
      </div>
      <div class="footer">
        <div class="footer"></div>
      </div>
    </div>
  </body>
</html>
